body {
  font-family: Roboto-Mono, monospace;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.wrapper {
  width: 50%;
}

header {
  font-family: Courgette, cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  max-height: 60px;
  margin-bottom: 10px;
}

.focus,
.help {
  font-family: Courgette, cursive;
  color: #000;
}

.flow,
.need {
  font-family: Courgette, cursive;
  color: #38a8db;
}

.instruction-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  margin-bottom: 30px;
  color: #757575;
  text-align: left;
  font-size: 12px;
  max-height: 150px;
  height: 150px;
  padding: 0.5px 15px 0;
  border-radius: 5px;
}

.subject-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.subject,
.subject-selected {
  padding: 10px;
  border: 1px solid rgb(32 32 32);
  background: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.subject-selected {
  margin: 10px;
}

.subject-selected:hover {
  background-color: rgb(194 0 32);
  color: #fff;
}

.subject:hover {
  background-color: #38a8db;
  color: #fff;
  border: 1px solid #41c3ff;
}

.add-subject-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.add-subject-btn {
  font-family: Roboto-Mono, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #38a8db;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 12.5px;
  cursor: pointer;
  margin-top: 15px;
}

.add-subject-btn:hover {
  background-color: #000;
}

/* Overlay background */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  display: none;
  justify-content: center;
  align-items: center;
}

/* Dialog box */
.dialog-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  width: 250px;
}

/* Input field */
.dialog-box input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-and-error {
  display: flex;
  flex-direction: column;
}

/* Buttons */
.dialog-buttons {
  display: flex;
  justify-content: space-evenly;
}

.dialog-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#cancel-btn {
  width: 49%;
  background: rgb(235 235 235);
  color: #000;
}

#add-btn {
  width: 49%;
  background: #38a8db;
  color: #fff;
}

#subject-error {
  color: rgb(255 21 21);
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.begin-text {
  font-size: 13px;
  margin-top: 40px;
  animation: bounce 1.5s infinite ease-in-out;
}

.next-btn {
  background-color: #38a8db;
  color: #fff;
  border: none;
  padding: 12px 60px;
  font-size: 16px;
  cursor: pointer;
}

.next-btn:hover {
  background-color: #000;
}

/* for animation bounce
 */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}


/* Start Modal Styling */
.need-help-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto; /* Ensures scrollability if content overflows */
}

.modal {
    background-color: white;
    margin: 4% auto;
    padding: 50px;
    border-radius: 8px;
    width: 40%;
    text-align: center;
    position: relative;
    max-width: 600px;
    height: auto;
}

.modal-container {
    font-family: Roboto-Mono, monospace;
    display: block;
    background-color: #F9F9F9;
    color: #757575;
    text-align: justify;
    font-size: 12px;
    height: auto;
    border-radius: 5px;
    margin-top: 35px;
    padding: 20px;
    overflow-y: auto;
}

.modal-container b {
    color: #000;
    font-size: 15px;
}

.modal-container p {
    padding: 10px 10px 0px 10px;
}

.modal-container ol {
    padding-left: 12px;
    padding-right: 10px;
    list-style: none;
    counter-reset: list-counter;
}

.modal-container ol li {
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 25px;
    text-indent: 0px;
    position: relative;
    line-height: 1.5;
}

.modal-container ol li::before {
    content: counter(list-counter) ". ";
    counter-increment: list-counter;
    font-weight: bold;
    position: absolute;
    left: 0;
}

.modal-container strong {
    font-weight: bold;
}

.need-help a {
    text-decoration: none;
}

.need-help-modal .need-help {
    margin: 0;
}

.need-help-modal .need, .need-help-modal .help {
    float: left;
}

.need-help-modal .help {
    margin-left: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
}

.close:hover {
    color: black;
}

.btn-close {
    display: block;
    margin: 15px auto 0;
    background-color: #38a8db;
    color: #fff;
    border: none;
    padding: 12px 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn-close:hover {
    background-color: #000;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .modal {
        width: 85%;
        padding: 30px;
    }

    .modal-container {
        font-size: 14px;
        padding: 15px;
        max-height: 400px;
    }

    .btn-close {
        padding: 10px 40px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .modal {
        width: 85%;
        padding: 20px;
    }

    .modal-container {
        font-size: 12px;
        padding: 10px;
        max-height: 300px;
    }

    .btn-close {
        padding: 8px 30px;
        font-size: 12px;
    }
}

/* End Modal Styling */

