body {
  font-family: Roboto-Mono, monospace;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container,
.wrapper {
  max-width: 600px;
}

.logo,
header {
  font-family: Courgette, cursive;
}

.focus,
.help {
  color: #000;
}

.flow,
.need {
  color: #38a8db;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.start-btn,
.add-subject-btn,
.next-btn,
#add-btn {
  background-color: #38a8db;
  color: #fff;
  font-family: Roboto-Mono, monospace;
}

.start-btn:hover,
.next-btn:hover,
.add-subject-btn:hover {
  background-color: #2a87b9;
}

#cancel-btn {
  background: rgb(235 235 235);
  color: #000;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  display: none;
  justify-content: center;
  align-items: center;
}

.dialog-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  width: 250px;
}
