@import url('./global.css');

.container {
  max-width: 600px;
}

.logo {
  font-size: 60px;
  margin-bottom: 50px;
}

.start-btn {
  border: none;
  padding: 18px 25px;
  font-size: 14px;
  font-weight:700;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 8px #38a8db;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.start-btn:hover {
  box-shadow: 0 0 15px #38a8db, 0 0 25px #38a8db;
  transform: scale(1.03);
}

.caption-description {
  font-size: 14.5px;
  color: #000;
  line-height: 1.6;
  margin: 0 auto 40px;
}
