@import url('./global.css'); 

.container {
  max-width: 600px;
}

.logo {
  font-size: 60px;
  margin-bottom: 50px;
}

.caption-description {
  font-size: 14.5px;
  color: #000;
  line-height: 1.6;
  margin: 0 auto 40px;
}
